
    .title-left,
    .title-right {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .cart-items-container {
        margin-bottom: 20px;
    }

    .summary {
        .quantity-item,
        .payment-methods,
        .total-price {
            margin-bottom: 10px;
        }
    }

    .btn-container {
        display: flex;
        gap: 30px;
        margin-top: 60px;

        .button-a {
            padding: 10px 20px;
            border-radius: 3px;
            background-color: #003c46dc;
            color: #ffffff;
            cursor: pointer;
            border-color:#003c46dc ;
        }
    }

    
    .back-home-page{
        background-color: #003c46c9;
        padding:8px;
        border-radius: 5px;
        text-decoration: none;
        color:#ffffff;
        border-color: #003c46dc;
    }

    .notification {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 200px;
    }