// .video-carousel {
//     // border-radius: 5px;
//     margin-top: 10px;
//     &__slide {
//       position: relative;
  
//       img,
//       video {
//         width: 80%;
//         border-radius: 5px;
//       }
  
//       &--info {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 80%;
//         padding: 20px;
//         background-color: rgba(252, 251, 251, 0);
//         color: white;
  
//         h2 {
//           margin-bottom: 10px;
//         }
//       }
//     }
//   }
  .carousel .control-arrow:before {
    // Điều chỉnh kích thước và màu sắc mũi tên
    border-right: 3px solid white;
    border-top: 3px solid white;
    width: 10px;
    height: 10px;
  }
  .slide-content {
    padding: 0px; // Điều chỉnh padding theo ý muốn

    & > * {
      // Chọn tất cả phần tử con trực tiếp của .slide-content
      width: 100%}}
      .video-carousel {
            border-radius: 5px;
            margin-top: 10px;
            &__slide {
              position: relative;
              padding: 5px;
              
                  
                      
            }}
            .--infor {
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 80%;
                      padding: 20px;
                      background-color: rgba(252, 251, 251, 0);
                      color: white;
                
                      h2 {
                        margin-bottom: 10px;
                      }
                    }
            