.search-results-container {
    padding: 20px;
  }
  
  .event-list {
    list-style: none;
    padding: 0;
  }
  
  .event-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
  }
  
  .event-item:hover {
    background-color: #f5f5f5; /* Thay đổi màu nền khi di chuột qua */
  }
  
  .event-content {
    /* Thêm kiểu dáng cho nội dung event */
  }
  
  .label {
    font-weight: bold;
  }
  
  .view-detail-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }