.featured-events {
    margin-bottom: 40px;
    
    padding: 0 100px;
    display: flex;
    justify-content: center; /* Center the slider container */
    align-items: center;
    width: 100%;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }
  
  
  
  .slick-slider {
    width: 100%; /* Adjust this value as needed to center the content */
  }
  
  .slick-list {
    width: 100%;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
 

.featured-events .custom-prev-arrow,
.featured-events .custom-next-arrow {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;
  background-color:#0c0e4f38;
  border: none;
  padding: 10px;
  font-size: 33PX;
  color: #252525; /* Adjust color as needed */
}

.featured-events .custom-prev-arrow {
  // left: 10px; /* Adjust left position as needed */
  // margin-right: 10px;
}

.featured-events .custom-next-arrow {
  right: 10px; /* Adjust right position as needed */
}


.text-a{
  font-size: 2em;
  margin-left: 20px;
  font-weight: 600;
  color:#1D1E4E;
  padding-left: 130px;
  text-align: left;
}