.event-details {
    margin-bottom: 16px;
  }
  
  .ant-card-meta-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ant-card-meta-description {
    font-size: 16px;
  }
  
  .ant-btn-primary {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #00b96b;
    border-color: #00b96b;
  }
  
  .ant-btn-primary:hover {
    background-color: #00a364;
    border-color: #00a364;
  }
  /* .baner1{
    background-color: rgb(29, 28, 28);
  } */
   /* .row1{
    background-color: rgb(29, 28, 28);
   } */