.event-details {
    margin-bottom: 16px;
    min-height: 373px;
  }
  
  .ant-card-meta-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ant-card-meta-description {
    font-size: 16px;
  }
  
  .ant-btn-primary {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #3f982fc3;
    border-color: #3f982fa7;
  }
  
  .ant-btn-primary:hover {
    background-color: #3f982fa1;
    border-color: #3f982fa9;
  }
    .info{
      background-color:#66a5ad5e;
    }
  .des-event {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .modal-buy {
    min-width: 600px !important;
  }