.event-details {
    margin-bottom: 16px;
  }
  
  .ant-card-meta-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ant-card-meta-description {
    font-size: 16px;
  }
  
  .ant-btn-primary {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #3f982fc3;
    border-color: #3f982fa7;
  }
  
  .ant-btn-primary:hover {
    background-color: #3f982fa1;
    border-color: #3f982fa9;
  }
  /* .baner1{
    background-color: rgb(29, 28, 28);
  } */
   /* .row1{
    background-color: rgb(29, 28, 28);
   } */
    .info{
      background-color:#66a5ad5e;
    }