.event-details {
    margin-bottom: 16px;
    height: 300px;
    
  }
  
  .ant-card-meta-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ant-card-meta-description {
    font-size: 16px;
  }
  
  .ant-btn-primary {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #3f982fc3;
    border-color: #3f982fa7;
  }
  
  .ant-btn-primary:hover {
    background-color: #3f982fa1;
    border-color: #3f982fa9;
  }
    .info{
      background-color:#66a5ad5e;
    }
  .des-event {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* InforEvent.css */

.modal-buy .ant-modal-content {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Đổ bóng cho Modal */
}

.modal-buy .ant-modal-header {
  background-color: #eef0f3; /* Màu xanh nhạt */
  border-bottom: none;
  padding: 16px 24px; 
}

.modal-buy .ant-modal-title {
  font-size: 20px;
  font-weight: 600;
  color: #2c3e50; /* Màu xanh đậm */
}

.modal-buy .ant-modal-body {
  padding: 24px;
}

.ticket-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
  padding: 10px;
  border: 1px solid #f0f0f0; /* Viền mờ cho mỗi loại vé */
  border-radius: 4px;
}

.ticket-selection:hover {
  background-color: #f9f9f9; /* Nền sáng hơn khi di chuột */
}

.ticket-selection .ant-checkbox-wrapper {
  font-weight: 500;
}

.ticket-selection .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ticket-selection .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #61c295; /* Màu xanh khi chọn */
}

.ticket-selection .ant-checkbox-checked::after {
  border-color: #47e4a6; /* Màu xanh khi chọn */
}

.ticket-selection .ant-input-number {
  width: 80px;
}

.modal-buy .ant-modal-footer {
  border-top: 1px solid #f0f0f0;
  padding: 16px 24px;
}

.modal-buy .ant-btn-primary {
  background-color: #2fb36f; /* Màu xanh dương */
  border-color: #269059;
}

.modal-buy .ant-btn-primary:hover,
.modal-buy .ant-btn-primary:focus {
  background-color: #75edaf; /* Màu xanh sáng hơn khi di chuột */
  border-color: #75edaf;
}
.event-info .ant-card {
  
    border-radius: 8px;
  }
