.event-list {
  padding: 2rem;
  margin: 0 auto; 
  font-family: 'Arial', sans-serif;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    font-weight: bold; // Làm đậm tiêu đề
  }

  .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Điều chỉnh kích thước event-card
    gap: 1.5rem; // Giảm khoảng cách giữa các event-card

    .event-card {
      border: none; // Bỏ border 
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); // Thêm shadow cho nổi bật
      transition: transform 0.3s ease, box-shadow 0.3s ease; // Thêm hiệu ứng chuyển động
      background-color: white; // Thêm màu nền trắng

      &:hover {
        transform: translateY(-5px); // Di chuyển lên trên khi hover
        box-shadow: 0 8px 16px rgba(0,0,0,0.2); // Shadow đậm hơn khi hover
      }

      img {
        width: 100%;
        height: 200px; // Giảm chiều cao hình ảnh
        object-fit: cover; 
      }

      .event-details {
        padding: 0.8rem; // Giảm padding để thẻ ngắn hơn
        height: 120px; // Giới hạn chiều cao của .event-details
        overflow: hidden;
        h3 {
          margin-bottom: 0.5rem;
          font-size: 1.1rem; // Giảm font size
          color: #213c9e;
          margin-bottom: 0.3rem; // Giảm margin-bottom để tiết kiệm không gian
        }

        p {
          margin-bottom: 0.25rem;
          color: #555;
          font-size: 0.9rem; // Giảm font size

          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}