.event-list {
    padding: 2rem; // Thêm padding cho dễ nhìn
    // max-width: 1200px; // Giới hạn chiều rộng
    margin: 0 auto; // Căn giữa content
    font-family: Arial, sans-serif; // Chọn font chữ dễ đọc
  
    h2 {
      text-align: center;
      margin-bottom: 2rem;
      color: #333;
    }
  
    .events {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Responsive grid
      gap: 2rem;
  
      .event-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden; // Giấu hình ảnh bị tràn ra ngoài
  
        img {
          width: 100%;
          height: 300px; // Giới hạn chiều cao hình ảnh
        //   object-fit: cover; // Giữ tỉ lệ hình ảnh
        }
  
        .event-details {
          padding: 1rem;
  
          h3 {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            color: #213c9e; // Màu xanh dương 
          }
  
          p {
            margin-bottom: 0.25rem;
            color: #555;
  
            &:last-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .nut{
    background-color: #1d6c2da8;
    border-radius: 3px;
    border:none;
  }