.menu-left {
  display: flex;
  flex-direction: column;
  background-color: #e0f0ff;
  padding: 10px;
height:800px;
  .menu-button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #c8e6ff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; // Thêm hiệu ứng transition

    &:hover {
      background-color: #a2d2ff; // Màu nền khi hover
    }

    &.active {
      background-color: #3498db; // Màu nền khi active
      color: white;
    }
  }
}