.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; // Đảm bảo Popup nằm trên các thành phần khác
  
    .popup-content {
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      max-width: 600px;
      text-align: left;
  
      h2 {
        margin-bottom: 20px;
        color: #333;
      }
  
      table {
        width: 100%;
  
        th,
        td {
          padding: 8px 12px;
          text-align: left;
          border-bottom: 1px solid #eee;
        }
  
        th {
          font-weight: bold;
        }
      }
    }
  
    .close {
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
      font-size: 24px;
      color: #aaa;
      transition: color 0.3s;
  
      &:hover {
        color: #333;
      }
    }
  }