.admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    // .admin-above {
    //     width: 100%;
    //     height: 50px;
    // }

    .admin-below {
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;

        // .admin-menu {
        //     width: 12%;
        //     height: 100%;
        //     border: 1px solid orange;
        // }

        .admin-content-children {
            width: 100%;
            height: calc(100vh - 50px);
            // overflow-y: auto;
        }
    }
}
.admin-header{
    padding:0%;
}
