.banner {
  position: relative;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 90%;
  height: 98%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.banner-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #030303;
}
.banner-info{
  border-radius: 3px;
  background-color: rgba(56, 55, 53, 0.073);
  color:rgb(215, 220, 225);
  margin-left:-50px ;
}
