.banner {
  position: relative;
}

.banner-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 90%;
  height: 98%;
  object-fit: cover;
  border-radius: 8px;
}

.banner-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.banner-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}
